doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(src='../javascripts/tiktok.js')
    script(src='https://www.tiktok.com/embed.js')
  body
    div.header
      h1= title
    div.navigation
      ul.navigation_list
        li.navigation_option
          a(href='#').material-icons.navigation_link.navigation_add-video library_add
          //- a(href='/video/create').material-icons.navigation_link library_add
        li.navigation_option
          a(href='#').material-icons.navigation_link.navigation_add-list create_new_folder
        li.navigation_option
          a(href='#').material-icons.navigation_link.navigation_move-video input
        li.navigation_option
          a(href='#').material-icons.navigation_link.navigation_delete-video delete
        li.navigation_option
          a(href='#').navigation_link-list
            span.navigation_link-list--fulltitle All Videos
            span.material-icons.navigation_link.navigation_link-list-button expand_more
        form(method='POST' action='/bookmarks/video/search' class='navigation_search-form')
          input.navigation_search-input(type='text', placeholder='Search creators and descriptions', name='video_search')
          button(type='submit', class='navigation_search-button')
            span.material-icons search
        li.navigation_option
          a(href='#').material-icons.navigation_link.navigation_link-check--unchecked check_box

    .bookmark-list--hidden
      ul.bookmark-list_list
        each list in data.list_list
          li
            a(href=`/../bookmarks/${list.url}`).bookmark-list_link !{list.name}

    .popup
      p.popup_close
        a(href='#', class='popup_close-link')
          span.material-icons close
      p.popup_message
      form.popup_form
        select(name='move_destination', class='form_move-video')
          each list in data.list_list
            option(value=`${list._id}`).form_move-video-option !{list.name}
        button(class='popup_form-confirm form-button') Confirm
        //-button(class='popup_form-cancel form-button') Cancel
      include add-video
      include add-list
      include sort-video

    .tiktok-popup
      p.tiktok-popup_close
        a(href='#', class='popup_close-link')
          span.material-icons close
      .tiktok-popup_video
      p.tiktok-popup_link
    
    .content
      if error
        p.stats Error getting dynamic content.
      else
        p.stats #[strong !{data.video_count}] videos in #[strong !{data.list_count}] lists
        .tiktok-container
          each video in data.video_list
            .tiktok-cell
              .tiktok-thumbnail
                //-p All video ids: !{data.video_id} From where I make a new video_id callback on the video controller
              .tiktok-grid
                .tiktok-grid_checkbox
                  input(type='checkbox', name='checkbox', value=video.id).tiktok-grid_checkbox
                .tiktok-grid_info
                  p.tiktok-grid_author
                    a(href=video.author_url).tiktok-grid_author !{video.author_name}
                  p.tiktok-grid_title !{video.title}
                .tiktok-grid_play
                  a(href='#', id=video.video_url, class='tiktok-grid_play-button').tiktok-grid_play
                    span.material-icons.tiktok-grid_play launch