extends layout/header
include layout/mixins/navigation
include layout/mixins/popup-container
include layout/mixins/pages
include layout/mixins/tiktok-container
block layout

  +navigation({
    allVideos: true,
  })

  .bookmark-list--hidden
    ul.bookmark-list_list
      li
        a(href=`/../bookmarks/1`).bookmark-list_link All Videos
      each list in data.get_lists
        li
          a(href=`/../bookmarks/list/${list.list_id}`).bookmark-list_link !{list.name}

  +popupContainer({
    allVideos: true,
    list: false,
  })

  include layout/tiktok-popup

  .content
    if error
      p.content_info Error getting dynamic content. !{error}
    else
      p.content_info #[strong !{data.count_videos}] videos in #[strong !{data.get_lists.length}] lists
      p.content_info Hi,&nbsp;
        a(href='#', class='content_info-link content_info-user-account-link') !{data.get_user_info.username}
        span  (
          a(href='../logout', class='content_info-link') logout
        span )

        include user-account

      +tiktokContainer(data.get_videos)
      +pages(data.count_videos/data.pagination['video_limit'])
