extends layout

block content

    .tiktok-popup
      p.tiktok-popup_close
        a(href='#', class='popup_close-link')
          span.material-icons close
      .tiktok-popup_video
      p.tiktok-popup_link

    div.content
      if error
        p.stats Error getting dynamic content.
      else
        if list.videos.length === 1
          p.stats #[strong !{list.videos.length}] video in #[strong !{list.name}]
        else
          p.stats #[strong !{list.videos.length}] videos in #[strong !{list.name}]

        div.tiktok-container
          each video in list.videos
            .tiktok-cell
              .tiktok-thumbnail
              .tiktok-grid
                .tiktok-grid_checkbox
                  input(type='checkbox', name='checkbox', value=video.id).tiktok-grid_checkbox
                .tiktok-grid_info
                  p.tiktok-grid_author
                    a(href=video.author_url).tiktok-grid_author !{video.author_name}
                  p.tiktok-grid_title !{video.title}
                .tiktok-grid_play
                  a(href='#', id=video.video_url, class='tiktok-grid_play-button').tiktok-grid_play
                    span.material-icons.tiktok-grid_play launch