extends layout

block content

    .tiktok-popup
      p.tiktok-popup_close
        a(href='#', class='popup_close-link')
          span.material-icons close
      .tiktok-popup_video
      p.tiktok-popup_link

    div.content
      if error
        p.stats Error getting dynamic content.
      else
        if data.current_list.videos.length === 1
          p.stats #[strong 1] video in #[strong !{data.current_list.name}]
        else
          p.stats #[strong !{data.video_count['videos'].length}] videos in #[strong !{data.current_list.name}]
            if data.previous_page != undefined
              br
              a(href=data.previous_page) Back

        div.tiktok-container
          each video in data.current_list.videos
            .tiktok-cell
              .tiktok-thumbnail
              .tiktok-grid
                .tiktok-grid_checkbox
                  input(type='checkbox', name='checkbox', value=video.id).tiktok-grid_checkbox
                .tiktok-grid_info
                  p.tiktok-grid_author
                    a(href=video.author_url).tiktok-grid_author !{video.author_name}
                  p.tiktok-grid_title !{video.title}
                .tiktok-grid_play
                  a(href='#', id=video.video_url, class='tiktok-grid_play-button').tiktok-grid_play
                    span.material-icons.tiktok-grid_play launch

        ul.pages
          if data.current_page != 1
            li
              a(href='1')
                span.material-icons first_page
          if data.current_page > 5
            li
              a(href=parseInt(data.current_page) - 5) -5
          if data.current_page != 1
            li
              a(href=parseInt(data.current_page) - 1)
                span.material-icons navigate_before
          li !{data.current_page} of !{Math.ceil(data.video_count['videos'].length/data.video_limit)}
          if data.current_page != Math.ceil(data.video_count['videos'].length/data.video_limit)
            li
              a(href=parseInt(data.current_page) + 1)
                span.material-icons navigate_next
          if data.current_page < (Math.ceil(data.video_count['videos'].length/data.video_limit) - 5)
            li
              a(href=parseInt(data.current_page) + 5) +5
          if data.current_page != Math.ceil(data.video_count['videos'].length/data.video_limit)
            li
              a(href=Math.ceil(data.video_count['videos'].length/data.video_limit))
                span.material-icons last_page